---
umongodb:
dmongodb:
cmongodb:
uslanger:
  network:
    !ruby/symbol bridge: wlan1
    !ruby/symbol mac: 0800278a5474
  node:
   !ruby/symbol slanger:
    !ruby/symbol app_key: 8da598ac545c4d638cc95b81b7b7d5f9
    !ruby/symbol secret: 6e64066087f04004aac0aabbb443226f
